<div class="container flex flex-col gap-y-4">
  

  <div class="flex-col p-2 border-4 round-2 border-gray-5">
    <%= form.translated :text_field, :page_url, rows: 1 %>
  </div>

  <div class="flex-col p-2 border-4 round-2 border-gray-5">
    <%= form.upload(
      :file,
      label: t("models.theme_file.fields.file", scope: "decidim.admin"),
      direct_upload: true,
      accept: ".css,text/css"
    ) %>
  </div>
</div>
