<div data-controller="live-css-editor"
  data-action="submit->live-css-editor#prepare"
  data-live-css-editor-filename-value="<%= @theme_file.filename || 'theme.css' %>"
  style="height: calc(100vh - 140px);"
>

  <% form_params = {
    model: @theme_file,
    url: theme_maker_path(@theme_file),
    method: :put,
    html: { multipart: true }
  } %>

  <%= decidim_form_for(@form, **form_params) do |form| %>
    <%= render partial: "form", locals: { form: form, theme_file: @theme_file, show_preview: true } %>

    <div style="margin-top:8px;">
      <%= form.submit t(".save"), class: "mt-2 px-3 py-1 border rounded" %>
    </div>
  <% end %>
</div>
